<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <setting id="server" type="ipaddress" label="Kodi Server" default=""/>
    <setting id="port" type="number" label="Kodi Server Port" default="8080"/>
    <setting id="username" type="text" label="Kodi User" default=""/>
    <setting id="password" type="text" label="Kodi Password" option="hidden" default=""/>
    <setting id="smb_base" type="text" label="Samba Base" default=""/>
    <setting id="vote_port" type="number" label="Lokaler Port für Vote" default="8081"/>
</settings>
